<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>게시물 작성</h1>

<form action="/post/new/<%= id %>" method="POST">
    <input type="text" name="Title" placeholder="제목" required><br>
    <textarea name="Content" placeholder="내용" required></textarea><br>
    <button type="submit">작성</button>
</form>
<a href="/repo/<%= name %>">목록으로</a>
</body>
</html>
