<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= repositoryName %></title>
</head>
<body>
  <h1>Welcome to <%= repositoryName %></h1>
  <p>여기는 <%= repositoryName %>에 대한 페이지입니다.</p>
  <a href="/index">홈으로 돌아가기</a>
</body>
</html>
