<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>추천 저장소</title>
    <link rel="stylesheet" href="/css/share.css">
</head>
<body>
<div>
    <!-- 상단 버튼 -->
    <div class="navigation-buttons">
        <% if (user == null) { %>
            <a href="/search" class="btn">검색</a>
            <a href="/faq" class="btn">FAQ</a>
            <a href="/guide" class="btn">가이드</a>
            <a href="/login" class="btn">로그인</a>
            <a href="/register" class ="btn">회원가입</a>
        <% } else { %>
            <a href="/myrepo" class="btn">MyRepo</a>
            <a href="/search" class="btn">검색</a>
            <a href="/faq" class="btn">FAQ</a>
            <a href="/guide" class="btn">가이드</a>
            <a href="/logout" class="btn">로그아웃</a>

        <% } %>
    </div>
    
    <h1>추천 저장소</h1>
    <table>
        <thead>
            <tr>
                <th>저장소 이름</th>
            </tr>
        </thead>
        <tbody>
            <% if (data.length > 0) { %>
                <% data.forEach(repo => { %>
                    <tr>
                        <td> 저장소 이름 </td>
                        <td> 조회수 </td>
                        <td> 마지막 업데이트</td>
                    </tr>
                    <tr>
                        <td><a href="/repoDetail/<%= repo.Id %>"><%= repo.Name %></a></td>
                        <td><%= repo.Views %></td>
                        <td><%= new Date(repo.Updated).toLocaleDateString('ko-KR', {
                            year: 'numeric',
                            month: '2-digit',
                            day: '2-digit',
                            hour: '2-digit',
                            minute: '2-digit',
                            weekday: 'long',
                            hour12: false
                        }) %></td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td>추천할 저장소가 없습니다.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <a href="/">홈으로 돌아가기</a>
</div>

<!-- 스타일 -->
<style>
    .navigation-buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        gap: 10px;
    }
    .btn {
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        background-color: #007BFF;
        border-radius: 5px;
        font-size: 16px;
        text-align: center;
    }
    .btn:hover {
        background-color: #0056b3;
    }
</style>
</body>
</html>
