body{
    background-color:#f0f0f0;   
}
.main-header {
    background-color: #ffffff;
    width: 100%;
    padding:1rem;
}

.header-top h1 {
    font-size: 1.5rem;
    color: #041E42;
    margin-top: 0;
}

.menu-bar-wrapper {
    display: flex;
}

.menu-wrapper {
    margin: 0 10px;
}

.menu-wrapper .text {
    color:#041E42;
    font-weight: bold;
    font-size: 1.3rem;
}
.box-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-main{
    background-color: white;
    width: 95%;
    text-align: center;
    border-collapse: collapse;
}
th{
    border-bottom: 1px solid black;
}
td{
    border-bottom: 1px solid black;
    padding: 6px;
}
#bold-text{
    font-weight: bold;
}
.text{
    text-decoration: none;

}
.logo{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
a:visited {
    text-decoration: none;
    color: inherit; /* 기본 색상과 동일하게 유지 */
}

/* 링크 클릭 시에도 표시 안 나게 */
a:active {
    text-decoration: none;
    color: inherit;
}