body{
    background-color:#f0f0f0;   
}
.main-header {
    background-color: #ffffff;
    width: 100%;
    padding:1rem;
}

.header-top h1 {
    font-size: 1.5rem;
    color: #041E42;
    margin-top: 0;
}

.menu-bar-wrapper {
    display: flex;
}

.menu-wrapper {
    margin: 0 10px;
}

.menu-wrapper .text {
    color:#041E42;
    font-weight: bold;
    font-size: 1.3rem;
}
.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.main-box1 {
    width: 30rem;
    margin: 0 10px;
    border-radius: .5rem !important;
    overflow: hidden; /* 꼭 필요하지 않다면 제거해도 됩니다 */
}
.box-header{
    height:2.5rem;
    font-weight: bold;
    background-color: #041E42;
    color:white;
    display: flex;
    align-items: center;  /* 수직 중앙 정렬 */  
    text-align: center;  /* 텍스트 정렬 */
}
.box-header span{
    margin-left: 10px;
}
.box-main{
    overflow: auto;
    height:280px;
}
.table-main{
    background-color: white;
    width: 30rem;
    text-align: center;
}
.table-main2{
    background-color: white;
    width:100rem;
    text-align: center;
}
#bold-text{
    font-weight: bold;
}